<section class="product-accordian">

  <!-- ACCORDIAN ITEM 1 -->

  <div class="product-accordian__container">
    <input type="radio" name="accordian" id="first" checked>
    <label for="first" class="product-accordian__heading">
      <h2 class="product-accordian__title">Ingredients</h2>
      <span for="first" class="product-accordian__icon"></span>
    </label>

    <p class="product-accordian__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore
      magna aliqua. Tempor commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor posuere ac ut.</p>
  </div>

  <!-- ACCORDIAN ITEM 2 -->

  <div class="product-accordian__container">
    <input type="radio" name="accordian" id="second">
    <label for="second" class="product-accordian__heading">
      <h2 class="product-accordian__title">Ingredients</h2>
      <span class="product-accordian__icon"></span>
    </label>

    <p class="product-accordian__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore
      magna aliqua. Tempor commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor posuere ac ut.</p>
  </div>

  <!-- ACCORDIAN ITEM 3 -->

  <div class="product-accordian__container">
    <input type="radio" name="accordian" id="third">
    <label for="third" class="product-accordian__heading">
      <h2 class="product-accordian__title">Ingredients</h2>
      <span class="product-accordian__icon"></span>
    </label>

    <p class="product-accordian__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore
      magna aliqua. Tempor commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor posuere ac ut.</p>
  </div>

</section>