<nav class="breadcrumb uppercase">
  <a href="#" class="breadcrumb__arrow"><img src="./images/arrow-icon.svg"></a>
  <a href="#" class="breadcrumb__item">All products</a>
  <a href="#" class="breadcrumb__item">Haircare</a>
  <a href="#" class="breadcrumb__item">Restorative Hair Mask</a>
</nav>

<script src="./scripts/breadcrumbs-position.js"></script>