<header class="header">
  <div class="header__hamburger clickable">
    <img src="./images/hamburger-icon.svg" alt="Search icon">
  </div>

  <ul class="header__nav">
    <li><a href="#">Shop</a></li>
    <li><a href="#">Science</a></li>
    <li><a href="#">Press</a></li>
    <li><a href="#">Blogs</a></li>
    <li><a href="#">Tutorial</a></li>
  </ul>

  <div class="header__search clickable">
    <img src="./images/search-icon.svg" alt="Search icon">
  </div>

  <div class="header__logo">
    <a href="#">
      <img src="./images/act-plus-acre-logo.png" alt="Act+ Acre logo">
    </a>
  </div>

  <div class="header__avatar clickable">
    <img src="./images/avatar-icon.svg" alt="Avatar icon">
  </div>

  <div class="header__bag clickable">
    <img src="./images/bag-icon.svg" alt="Shopping Bag icon">
  </div>
</header>