<link rel="stylesheet" href="../node_modules/@splidejs/splide/dist/css/splide.min.css">

<section class="product-carousel-section splide">

  <h2 class="product-carousel-section__title uppercase ">You may also like</h2>

  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img class="product-carousel-item__image" src="./images/hand-pomade.png" alt="Product hand pomade">
        <h3 class="product-carousel-item__title">Hand Pomade ‎ /‎ ‎ Pommade Mains</h3>
        <span class="product-carousel-item__subtitle">Nourishment For Your Hands</span>
        <span class=" product-carousel-item__price">159,00 KR</span>
      </li>
      <li class="splide__slide">
        <img class="product-carousel-item__image" src="./images/hand-pomade.png" alt="Product hand pomade">
        <h3 class="product-carousel-item__title">Hand Pomade ‎ /‎ ‎ Pommade Mains</h3>
        <span class="product-carousel-item__subtitle">Nourishment For Your Hands</span>
        <span class=" product-carousel-item__price">159,00 KR</span>
      </li>
      <li class="splide__slide">
        <img class="product-carousel-item__image" src="./images/hand-pomade.png" alt="Product hand pomade">
        <h3 class="product-carousel-item__title">Hand Pomade ‎ /‎ ‎ Pommade Mains</h3>
        <span class="product-carousel-item__subtitle">Nourishment For Your Hands</span>
        <span class=" product-carousel-item__price">159,00 KR</span>
      </li>
      <li class="splide__slide">
        <img class="product-carousel-item__image" src="./images/hand-pomade.png" alt="Product hand pomade">
        <h3 class="product-carousel-item__title">Hand Pomade ‎ /‎ ‎ Pommade Mains</h3>
        <span class="product-carousel-item__subtitle">Nourishment For Your Hands</span>
        <span class=" product-carousel-item__price">159,00 KR</span>
      </li>
      <li class="splide__slide">
        <img class="product-carousel-item__image" src="./images/hand-pomade.png" alt="Product hand pomade">
        <h3 class="product-carousel-item__title">Hand Pomade ‎ /‎ ‎ Pommade Mains</h3>
        <span class="product-carousel-item__subtitle">Nourishment For Your Hands</span>
        <span class=" product-carousel-item__price">159,00 KR</span>
      </li>
    </ul>
  </div>
</section>

<script src="../node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
<script src="./scripts/product-slider.js" type="module"></script>